<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="HalaqahBlazorApp.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    
    @* Mudblazor *@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    
    @* Blazorise Bootstrap 5 *@
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> *@
    @* <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet"> *@
    @* *@
    @* <link href="_content/Blazorise/blazorise.css" rel="stylesheet" /> *@
    @* <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" /> *@
    
    @* Razden *@
    @* <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css"> *@
    
    @if(RenderModeForPage is not null)
    {
        <HeadOutlet @rendermode="@RenderModeForPage" />    
    }
    else
    {
        <HeadOutlet />
    }
</head>

<body>
    @if(RenderModeForPage is not null)
    {
        <Routes @rendermode="@RenderModeForPage" />
    }
    else
    {
        <Routes />
    }
    <script src="_framework/blazor.web.js"></script>

    @* Mudblazor *@
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    @* Blazorise Bootstrap 5 *@
    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> *@

    @* Razden *@
    @* <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script> *@
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveServer;
}
